.container {
    display: flex;
    justify-content:center;
    align-items: center;
}
  
.box {
    margin: 15px;
    padding: 5px;
    border: 1.5px solid rgb(20, 132, 142);
    border-radius: 5px;
    text-align: center;
}

.title {
  background-color: rgb(20, 132, 142);
  color: #ffffff;
  margin: 15px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
  .tooltip-caret.position-top {
    border-top-color: rgb(20, 132, 142);
    box-shadow: 0 6px 20px 0 rgb(20, 132, 142);
  }

  background-color: rgb(20, 132, 142);
  box-shadow: 0 6px 20px 0 rgb(20, 132, 142);
}